<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
		  <section class="rate-first">
			<h3> Rate Your Local Artist </h3>
			<%= image_tag("musician.jpg", class: "music-pic") %>
		  </section>
		  <div class="rating"></div>
		</div>
	</div>
</div>